**.lnk
**.bak
/FullPotential/.vsconfig
/FullPotential/Assets/TextMesh Pro
/FullPotential/Assets/AddressableAssetsData/Windows
/FullPotential/Assets/AddressableAssetsData/link.xml
/FullPotential/Assets/AddressableAssetsData/link.xml.meta
