################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Assets/Standard Assets
/src/Assets/SampleScenes
/src/Assets/SampleScenes.meta
/src/Assets/Standard Assets.meta
/src/.vsconfig
