# Top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.cs]
# Indentation and spacing
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# Code style defaults (Severity: silent, suggestion, warning, error)
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion

dotnet_style_predefined_type_for_locals_members_type = true:suggestion

csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true

dotnet_style_prefer_conditional_expression_over_return = false

dotnet_style_namespace_match_folder = false

# Analyzer diagnostics 
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_analyzer_diagnostic.category-Design.severity = warning

# Stop telling me that new List<string>() should be new(). Unity doesn't like that!
resharper_arrange_object_creation_when_type_evident_highlighting = none
csharp_style_implicit_object_creation_when_type_is_apparent = false

csharp_style_unused_value_expression_statement_preference = true:suggestion

dotnet_diagnostic.IDE0010.severity = none # Add missing cases to switch statement
dotnet_diagnostic.IDE0051.severity = none # Remove unused private member 
dotnet_diagnostic.IDE0058.severity = suggestion # Remove unnecessary expression value
dotnet_diagnostic.IDE0059.severity = suggestion # Unnecessary assignment of a value
dotnet_diagnostic.IDE0060.severity = suggestion # Remove unused parameter
dotnet_diagnostic.IDE0072.severity = none # Add missing cases to switch expression

# Code quality
dotnet_code_quality_unused_parameters = all:suggestion

# Unity
dotnet_diagnostic.UNT0008.severity = error # Unity objects should not use null propagation
dotnet_diagnostic.UNT0026.severity = warning # GetComponent always allocates
dotnet_diagnostic.UNT0028.severity = warning # Use non-allocating physics APIs
dotnet_diagnostic.UNT0039.severity = none # Use RequireComponent attribute when self-invoking GetComponent
